/* -- Variable -- */
:root {
    --primary: #FF0000;
}

/* -- Typography -- */
body {
    font-family: "Inter Tight", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text-14);
    font-family: "Inter Tight", sans-serif;

}

.text-display-1 {
    font-size: clamp(64px, 28vw, 308px);
    line-height: clamp(64px, 28vw, 308px);
}

h1,
.h1 {
    font-size: clamp(48px, 10vw, 132px);
    line-height: clamp(48px, 10vw, 132px);
}

h2,
.h2 {
    font-size: clamp(42px, 9vw, 112px);
    line-height: clamp(42px, 9vw, 112px);
}

h3,
.h3 {
    font-size: clamp(40px, 4vw, 80px);
    line-height: clamp(48px, 5vw, 96px);
}

h4,
.h4 {
    font-size: clamp(40px, 5vw, 64px);
    line-height: clamp(48px, 5.5vw, 72px);
}

h5,
.h5 {
    font-size: clamp(32px, 5vw, 48px);
    line-height: clamp(36px, 4.5vw, 58px);
}

h6,
.h6 {
    font-size: clamp(26px, 2.8vw, 40px);
    line-height: clamp(34px, 4.5vw, 52px);
}

.text-body-1 {
    font-size: clamp(22px, 3vw, 32px);
    line-height: clamp(30px, 3.5vw, 40px);
}

.text-body-2 {
    font-size: clamp(20px, 1.8vw, 24px);
    line-height: clamp(26px, 2.2vw, 30px);
}

.text-body-3 {
    font-size: 20px;
    line-height: 28px;
}

.text-body-4 {
    font-size: 18px;
    line-height: 28px;
}

.text-body-6 {
    font-size: 14px;
    line-height: 20px;
}