
/* -- Variable -- */
:root{
    /* --primary: #EC542D; */
}

/* -- Typography -- */
h1,
.h1 {
    font-size: clamp(48px, 6vw, 80px);
    line-height: clamp(56px, 6.5vw, 88px);
}

h2,
.h2 {
    font-size: clamp(36px, 5vw, 64px);
    line-height: clamp(36px, 5.5vw, 72px);
}

h3,
.h3 {
    font-size: clamp(28px, 4vw, 48px);
    line-height: clamp(44px, 5vw, 56px);
}

h4,
.h4 {
    font-size: clamp(26px, 3vw, 40px);
    line-height: clamp(34px, 4vw, 52px);
}

h5,
.h5 {
    font-size: clamp(24px, 2.6vw, 36px);
    line-height: clamp(32px, 3.5vw, 48px);
}

h6,
.h6 {
    font-size: clamp(22px, 3vw, 32px);
    line-height: clamp(24px, 3vw, 36px);
}