/* -- Variable -- */
:root {
    --primary: #005949;
    --secondary: #E9F6DC;
}

/* -- Typography -- */
body {
    font-family: "Inter Tight", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--black);
    font-family: "Inter Tight", sans-serif;
}

h1,
.h1 {
    font-size: clamp(48px, 7vw, 96px);
    line-height: clamp(48px, 7vw, 96px);
}

h2,
.h2 {
    font-size: clamp(36px, 5vw, 64px);
    line-height: clamp(36px, 5vw, 64px);
}

h3,
.h3 {
    font-size: clamp(28px, 4vw, 48px);
    line-height: clamp(44px, 5vw, 56px);
}

h6,
.h6 {
    font-size: clamp(20px, 3vw, 32px);
    line-height: clamp(28px, 3.5vw, 40px);
}

.text-sub-head {
    font-size: clamp(18px, 2vw, 24px);
    line-height: clamp(24px, 2.5vw, 32px);
}

.text-body-1 {
    font-size: clamp(18px, 1.8vw, 20px);
    line-height: clamp(25px, 2.2vw, 28px);
}


.text-body-2 {
    font-size: 18px;
    line-height: 28px;
}